:root { 
--black_900:#000000; 
--blue_gray_400:#8594a3; 
--red_A200:#ff6464; 
--red_A100:#ff7c7c; 
--blue_100_3f:#bbe1fa3f; 
--blue_gray_900_01:#142850; 
--blue_gray_900:#21243d; 
--cyan_600:#00a8cc; 
--white_A700:#ffffff; 
--gray_300:#e0e0e0; 
--gray_100:#edf7fa; 
}