
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/HeeboMedium.ttf"); font-family : "Heebo"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/HeeboBold.ttf"); font-family : "Heebo"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/HeeboRegular.ttf"); font-family : "Heebo"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/HeeboBlack.ttf"); font-family : "Heebo"; font-weight : 900;  }